body {
    background-image: url("../Art/zwartevilt.png");
    background-repeat: repeat;
}

.sidenav1 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 100px;
    border-right: #f1f1f1 solid 5px;
    padding-right: 0px;
    margin-right: 0px;
}

.sidenav1 a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 38px;
    color: #888;
    display: block;
    transition: 0.3s;
    font-family: 'Libre Barcode 39 text', cursive;
    margin-bottom: 30px;
}

.sidenav1 a:hover {
    color: #f1f1f1;
}

.sidenav1 .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#maincontent {
    transition: margin-left .3s;
    padding: 16px;
    margin: auto;
}

.openbtn {
    font-family: 'Libre Barcode 39 text', cursive;
    margin: 10px;
    color:  #f1f1f1;
    font-size:50px;
    z-index: 1;
}

.jesseHdr {
    position: relative;
    width: 50%;
    margin: 0px 40%;
    top: -60px;
    font-family: 'Libre Barcode 39 text', cursive;
}

.nameHdr {
    font-size: 80px;
    color: #f1f1f1;
}

.jesseBio {
    width: 60%;
    margin: 80px auto 0px;
    font-size: 15px;
    font-family: 'Encode Sans Condensed', sans-serif;
    color:white;
}

.contentHdr {
    font-family: 'Libre Barcode 39 text', cursive;
    font-size: 56px;
    margin: 10px;
}

#jesseImg {
    width: 30%;
    margin: 10px;
    margin-left: 5px;
    border: 1px solid black;
    float: left;
}

.footer {
    margin: auto;
    padding-top: 100px;
    text-align: center;
    font-size: 30px;
}

.footer a {
    text-decoration: none;
    color: #f1f1f1;
    margin: 0px 15px;
}